.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
}

.mat-mdc-form-field {
    min-width: 250px;
}

button {
    margin-top: 1em;
}