<div class="main-container">
    <div class="app-info block">
        <mat-card>
            <mat-card-content>
                <h1 data-cy="page-title">Water the Garden?</h1>
                To make such a tough decision, please search for where your garden is located.
                <app-location-search (onWeatherReport)="processWeather($event)"></app-location-search>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="response block">
        <app-decision [weatherReport]="weatherReport"></app-decision>
    </div>
</div>