<div class="main-container">
    <div class="app-info block">
        <mat-card>
            <mat-card-content>
                <h1>Water the Garden?</h1>
                To make such a tough decision, please search for where your garden is located.
                <app-location-search (testEvent)="processWeather($event)"></app-location-search>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="response block">
        <mat-card>
            <mat-card-content>
                This will be the answer
                <app-decision [decisionTest]="weatherInfoTest"></app-decision>
            </mat-card-content>
        </mat-card>
    </div>
</div>