.main-container {
    // border: 1px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99%;
}

.block {
    // border: 1px solid blue;
    width: 60%;
    margin: 1.5em;
    padding: 1em;
    min-width: 260px;
}

.mat-mdc-card-content {
    text-align: center;
}